.scroll-slider {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10vw;
    color: #fff;
  }
  
  .scroll-wrapper {
    
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
  }
  
  .scroll-slide {
    flex: 1 0 75vw;
    max-width: 35vw;
    height: 15vh;
  }

  // .container {
  //   margin-top: 500px;
  //   // margin-bottom: 50px;
  // }
  
  .item {
          margin-top: 310px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 2px;
    &-container {
       position: relative;
    }
    &-title {
      font-size: 2vw;
      font-weight: bold;
      line-height: 1;
    }
    &-titl {
      color: #222;
      font-size: 9vw;
      font-weight: bold;
      line-height: 1;
    }
    &-titl1 {
      color: #222;
      font-size: 2px;
      font-weight: bold;
      line-height: 1;
    }
    &-body1 {
      @media (min-width:40em) {
        position: absolute;
        left: 98%;
        top: 50%;
        width: 50%;
        transform: translate(-25%, -50%);
      }
      &-body2 {
        @media (min-width:40em) {
          position: absolute;
          left: 98%;
          top: 40%;
          width: 50%;
          transform: translate(-25%, -50%);
        }
      }
    }
  }